@model List<Shipment>
@{
    Layout = null;
}


<div id="carouselExampleControls" class="carousel carousel-dark slide" data-bs-ride="carousel">
    <div class="carousel-inner my-5">


        @if (Model.Count != 0)
        {
            @for (int i = 0; i < Model.Count; i += 3)
            {
                <div class="carousel-item @((i == 0) ? "active" : "")">
                    <div class="card-wrapper container-sm d-flex  justify-content-around">

                    @if (i < Model.Count)
                    {
                        <div class="card" style="width: 18rem; height: 30rem;">
                            <img src="@Model[i]." class="card-img-top" alt="...">
                            <div class="card-body">
                                <h5 class="card-title">Card title</h5>
                            </div>
                        </div>
                    }

                    @if (i+1 < Model.Count)
                    {
                        <div class="card" style="width: 18rem; height: 30rem;">
                            <img src="https://source.unsplash.com/collection/190727/1600x900" class="card-img-top" alt="...">
                            <div class="card-body">
                                <h5 class="card-title">Card title</h5>
                            </div>
                        </div>
                    }

                    @if (i+2 < Model.Count)
                    {
                        <div class="card" style="width: 18rem; height: 30rem;">
                            <img src="https://source.unsplash.com/collection/190727/1600x900" class="card-img-top" alt="...">
                            <div class="card-body">
                                <h5 class="card-title">Card title</h5>
                            </div>
                        </div>
                    }
                </div>
                </div>
            }
        }
        else
        {
            <h1>No shipments yet</h1>
        }


    </div>

    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>
