@model resetPasswordViewModel

@{
    Layout = null;
}



<div class="card">
    <div class="card-header">
        Change password
    </div>
    <div class="card-body">


 <form asp-action="editAccountPassword" asp-controller="Account" method="post">    <!--here model not sent-->
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>


<div class="form-group col-5 m-2 input-label-div">
    <label asp-for="newPassword" class="control-label"></label>
    <input asp-for="newPassword" type="password" class="form-control" id="inputPassword">
    <span asp-validation-for="newPassword" class="text-danger"></span>
</div>

<div class="form-group col-5 m-2 input-label-div">
    <label asp-for="confirmNewPassword" class="control-label"></label>
                <input asp-for="confirmNewPassword" type="password" class="form-control" id="inputConfirmPassword">
                <span asp-validation-for="confirmNewPassword" class="text-danger"></span>
</div>

            <div class="row my-4">
                <button type="submit" class="btn btn-primary col-3 m-auto"> Update</button>
            </div> 
        </form>
    </div>
</div>
