@model ecommerce.ViewModels.ForgotPasswordViewModel

@{
    ViewData["Title"] = "forgotPassword";
}

<h1>No worries</h1>

<h4 style="font-family:'Bauhaus 93'">Your password will be restored</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="forgotPassword">
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Email" class="control-label"></label>
                <input asp-for="Email" class="form-control" placeholder="enter email you signed with" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group row m-2 justify-content-evenly">
                <input type="submit" value="Confirm" class="btn btn-primary col-4" />
                <a asp-action="login" class="btn btn-danger col-4">Back to List</a>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
