@model ecommerce.ViewModel.LoginViewModel


<style>
    .input-label-div {
        margin: 5px
    }
</style>

<section style="height: 100vh;" class="d-flex align-items-center">
    <div class="container box"> 
        <div class="d-flex  flex-row bg-white  w-75 m-auto shadow rounded-5 ">

            <div id="log_img" class="bg-danger py-5 col-5 rounded-start-5 align-items-center">
                <img src="~/img/Sign up-cuate.svg" class="w-100" alt="">
            </div>


            <div class="col py-5">
                <div class="row ">
                    <div class="d-flex flex-column align-items-center">
                        <h1 class="text-center my-3">Welcome back</h1>
                    </div>


                    <div class="col-md-10">

                        <form asp-action="login" asp-controller="Account" method="post" class="offset-1 row">


                            <div asp-validation-summary="All" class="text-danger"></div>
                            <div class="form-group input-label-div">
                                <label asp-for="userName" class="control-label"></label>
                                <input asp-for="userName" class="form-control" />
                                <span asp-validation-for="userName" class="text-danger"></span>
                            </div>


                            <div class="form-group input-label-div">
                                <label asp-for="password" class="control-label"></label>
                                <input asp-for="password" class="form-control" />
                                <span asp-validation-for="password" class="text-danger"></span>
                            </div>

                            <div class="form-group form-check input-label-div row">
                                <label class="form-check-label col-7">
                                    <input class="form-check-input" asp-for="rememberMe" /> @Html.DisplayNameFor(model => model.rememberMe)
                                </label>

                                @* <div> *@
                              <a href="/account/forgotPassword" class="col-5 justify-content-end">Forgot password</a>
                                @* </div>  *@

                            </div>


                            <div class="form-group input-label-div text-center justify-content-center">
                                <input type="submit" value="Login" class="btn btn-primary" />
                            </div>

                        </form>
                    </div>
                 

                   
                </div>
             
                <div class="row text-center justify-content-center m-4">
                    <a href="/account/register" class="col-4 btn btn-primary">Create your account</a>
                </div>

            </div>
        </div>
    </div>



</section>
<partial name="_ValidationScriptsPartial"></partial>






 

