@model List<string>
@{
    ViewData["Title"] = "Remove Admin";
}


<div class="modal" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Confirmation msg</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body" id="text">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <a id="addBtn" class="btn btn-success">confirm remove</a>
            </div>
        </div>
    </div>
</div>




<h1>Remove Admin</h1>


<table class="table table-bordered table-hover">

    <tr>
        <th>Name</th>
        <th>Action</th>


    </tr>

    @for (int i = 0; i < Model.Count; i++)
    {
        <tr style="justify-items:center">
            <td> @Model[i]</td>
            <td>
                <button type="button" class="btn btn-primary" onclick="RemoveAdmin('@Model[i]')" data-bs-toggle="modal" data-bs-target="#exampleModal">
                    Remove admin
                </button>
            </td>
        </tr>



    }



</table>


@section scripts {
    <script src="~/js/RemoveAdmin.js"></script> 
}


