@model ecommerce.ViewModels.resetPasswordViewModel

@{
    ViewData["Title"] = "Reset Password";
    string userName = ViewBag.UserName;
    string token = ViewBag.Token;
}

<h1>Reset Password</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="ResetPassword" method="post">
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group m-2">
                <label asp-for="newPassword" class="control-label"></label>
                <input asp-for="newPassword" class="form-control" />
                <span asp-validation-for="newPassword" class="text-danger"></span>
            </div>


            <div class="form-group m-2">
                <label asp-for="confirmNewPassword" class="control-label"></label>
                <input asp-for="confirmNewPassword" class="form-control" />
                <span asp-validation-for="confirmNewPassword" class="text-danger"></span>
            </div>



            <div class="form-group m-2 d-none" hidden> 

                <label asp-for="userName" class="control-label"></label>
                <input asp-for="userName" class="form-control" value="@userName" />  
                <span asp-validation-for="userName" class="text-danger"></span>
            </div>


            <div class="form-group m-2 d-none" hidden>

                <label asp-for="token" class="control-label"></label>
                <input asp-for="token" class="form-control" value="@token" /> 
                <span asp-validation-for="token" class="text-danger"></span>
            </div>


            <div class="form-group m-3">
                <input type="submit" value="Save" class="btn btn-danger" />
            </div>
        </form>
    </div>
</div>

@* <div>
    <a asp-action="Index">Back to List</a>
</div> *@

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
