@{
    Layout = null;
    ViewData["Title"] = "test";
}

<h2>test</h2>



@model ecommerce.ViewModel.LoginViewModel


<style>
    .input-label-div {
        margin: 5px
    }
</style>


<h5>@Model.userName</h5>
