@{
    ViewData["Title"] = "Home Page";
     Layout = "_IndexLayout";

    // just for testing
    // Layout = "_ProductLayout";
    // Layout = "_StoreLayout"; 
    // Layout = "_CheckoutLayout";
    // Layout = "_BlankLayout";
}

<main class="container text-center" id="main" >
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</main>
