<div class="card m-5">
    <div class="card-header">
        <h2 class="m-3"> Confirm your email to register </h2>
    </div>
    <div class="card-body m-3">
        <h4 class="card-text m-3 text-danger">We have sent an email for confirmation...</h4>
    </div>
</div> 