<div class="card">
    <div class="card-header">
        <h2> Please, check your mail </h2>
    </div>
    <div class="card-body">
        <p class="card-text">We have sent an email to reset your password...</p>
    </div>
</div>