<div class="card">
    <div class="card-header">
        <h2> Confirm your email to register </h2>
    </div>
    <div class="card-body">
        <p class="card-text">We have sent an email for confirmation...</p>
    </div>
</div> 