<div class="card m-5">
    <div class="card-header m-3">
        <h2> Please, check your mail </h2>
    </div>
    <div class="card-body m-3"> 
        <p class="card-text m-3 text-danger">We have sent an email to reset your password...</p>
    </div>
</div>