@model ecommerce.Models.Category

@{
    ViewData["Title"] = "categoryDetails";
    Layout = "~/Views/Shared/_DashbourdLayout.cshtml";
}

<div class="d-flex justify-content-center container mt-5">
    <div class="card p-3 bg-white">
        <i class="fa fa-apple"></i>
        <div class="about-product text-center mt-2">
            <img src="~/img/@Model.ImageUrl" width="300">
            <div>
                <h4>@Model.Name</h4>
                <h6 class="mt-0 text-black-50">@Model.Description</h6>
            </div>
        </div>
    </div>
</div>
